:root {
    --bs-danger-bg-subtle: #ff98a1 !important;
    --bs-link-color: #636b5f !important;
    --bs-link-hover-color: #636b5f !important;
    --bs-link-color-rgb:  #636b5f !important;
}

.app-bg {
    background-color: #B6CEB4;
}

.preloader {
    backdrop-filter: blur(5px) brightness(.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999999999;
    place-content: center;
    display: none;
    opacity: 0;
    animation: appear .3s ease forwards;
}

@keyframes appear {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

body {
    min-height: 100vh;
    background-color: #B6CEB4 !important;
}

.login-container {
    min-height: 100vh;
}

.login-card {
    width: min(90vw, 450px);
    padding: 25px;
}

.card {
    border-radius: 15px !important;
    box-shadow: 0 0 5px rgba(69, 69, 69, 0.3);
    background-color: rgba(255, 255, 255, 0.15) !important;
    backdrop-filter: blur(8px);
    z-index: 99999;
    animation: appearCard .5s ease forwards;
    animation-delay: 0.25s;
    opacity: 0;
}

.bottom-svg {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.btn-primary {
    background-color: #636b5f !important;
    border-color: #96A78D !important;
}

.bottom-svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150vh;
  animation: waveMove 0.5s ease-in-out forwards;
}

.alert {
    animation: appearCardTop .5s ease forwards;
    animation-delay: 1s;
    opacity: 0;
    z-index: 99999;
}

@keyframes waveMove {
  0% {
    transform: translateY(-10px) scaleY(2);
  }
  100% {
    transform: translateY(0px) scaleY(1);
  }
}

@keyframes appearCard {
  0% {
    transform: translateY(100px);
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
    filter: none;
  }
}

@keyframes appearCardTop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
    filter: none;
  }
}

.text-grey {
    color: rgb(0, 0, 0) !important;
}

.form-control {
    background-color: rgba(255, 255, 255, 0.4) !important;
    box-shadow: 0 0 5px rgba(69, 69, 69, 0.38);
}

.btn.w-100{
    height: 50px !important;
}

.btn {
    transition: all .3s ease !important;
}

.btn:hover {
    opacity: 0.7;
}

.card img {
    filter: drop-shadow(0 0 2px rgba(69, 69, 69, 1));
}

.card.hover {
    cursor: pointer;
    transition: background-color .3s ease !important;
}

.card.hover:hover {
    background-color: rgb(211 226 210) !important;
}